<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#191919">
    <meta name="apple-mobile-web-app-status-bar-style" content="#191919">
    <meta name="msapplication-navbutton-color" content="#191919">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Joti+One&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../assets/CSS/all.css">
    <title>Agendamentos - Cadastrar agendamento</title>
</head>
<body>
    <div class="container agends">
        <div class="cx-title">
            <h1>
                Boa escolha
            </h1>
            <p>Vamos continuar... </p>
        </div>

        <section class="container-cards">
            <div class="cx-cards">
                <div class="card card-selected">
                    <div><img src="../assets/IMG/icon-1.svg" alt=""></div>
                    <p>Corte de cabelo</p>
                </div>
            </div>
        </section>

        <form action="">
            <input class="ipt ipt-tx" type="text"placeholder="Nome e sobrenome">
            
           
            <!-- Component 1 -->
            <div class="component-select">
                <div class="cx-select">
                    <div class="ctn-ipt"><input class="ipt-selects" value="" placeholder="Escolha o dia do mês..." disabled></div>
                    <div class="ctn-ipt-2">
                        <i class='icon-select bx bx-chevron-down'></i>
                        <i class='icon-select bx disabled-select bxs-check-circle' ></i>
                    </div>
                </div>
    
                <nav class="disabled-select navbar-select">
                    <ul>
                        <li class="lis" data-select=""><span><i class='bx bxs-calendar'></i></span><p>Default</p></li>
                        <li class="lis" data-select="01/07/2022"><span><i class='bx bxs-calendar'></i></span><p>01/07/2022</p></li>
                        <li class="lis" data-select="02/07/2022"><span><i class='bx bxs-calendar'></i></span><p>02/07/2022</p></li>
                        <li class="lis" data-select="03/07/2022"><span><i class='bx bxs-calendar'></i></span><p>03/07/2022</p></li>
                        <li class="lis" data-select="04/07/2022"><span><i class='bx bxs-calendar'></i></span><p>04/07/2022</p></li>
                        <li class="lis" data-select="05/07/2022"><span><i class='bx bxs-calendar'></i></span><p>05/07/2022</p></li>
                        <li class="lis" data-select="06/07/2022"><span><i class='bx bxs-calendar'></i></span><p>06/07/2022</p></li>
                        <li class="lis" data-select="07/07/2022"><span><i class='bx bxs-calendar'></i></span><p>07/07/2022</p></li>
                    </ul>
                </nav>
            </div>
            
             
            <!-- Component 2 -->
            <div class="component-select">
                <div class="cx-select">
                    <div class="ctn-ipt"><input class="ipt-selects" value="" placeholder="Escolha o melhor horario..." disabled></div>
                    <div class="ctn-ipt-2">
                        <i class='icon-select bx bx-chevron-down'></i>
                        <i class='icon-select bx disabled-select bxs-check-circle' ></i>
                    </div>
                </div>
    
                <nav class="disabled-select navbar-select">
                    <ul>
                        <li class="lis" data-select=""><span><i class='bx bxs-time-five' ></i></span><p>Default</p></li>
                        <li class="lis" data-select="9:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>9:00</p></li>
                        <li class="lis" data-select="10:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>10:00</p></li>
                        <li class="lis" data-select="11:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>11:00</p></li>
                        <li class="lis" data-select="12:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>12:00</p></li>
                        <li class="lis" data-select="13:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>13:00</p></li>
                        <li class="lis" data-select="14:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>14:00</p></li>
                        <li class="lis" data-select="15:00 horas"><span><i class='bx bxs-time-five' ></i></span><p>15:00</p></li>
                    </ul>
                </nav>
            </div>
            <button id="btn-submit" class="btn-submit">Continuar agendamento</button>
        </form>

    </div>

    <script src="../assets/JS/select.js"></script>
    
</body>
</html>
