body {
    background-color: var(--bg-body);
}

.container h1{
    color: var(--textColor-default);
    font-family: var(--font-titles);
}

.container .cx-title p{
    color: var(--textTitle-cards);
    font-family: var(--font-titles);
}

.container{
    padding: 90px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.container.agends{ 
    gap: 2rem;
}

.cx-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

.container-cards{
    display: flex;
    justify-content: center;
}

.cx-cards{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-cards p{
    color: var(--textTitle-cards);
    font-family: var(--font-cards);
    font-size: 0.8rem;
}

.container-cards .card{
    background-color: var(--bg-card);
    width: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1rem;
    border-radius: 8px;
}

.container-cards .card:hover{
    box-shadow: 1px 1px 1px 1px #7E42FF;
}

@media (max-width: 500px) {
    .container{
        padding: 44px 20px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: flex-start;
    }
}


/* Button submit */

.btn-submit{
    background-color: var(--bg-btnsubmit);
    height: var(--height-btn);
    font-family: var(--font-cards);
    color: var(--textColor-default);
    border-radius: var(--border-radius)
}

.btn-submit:hover{
    background-color: var(--btn-hover);
}