.container form{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.ipt {
    height: var(--height-ipt);
    background-color: var(--bg-inputs);
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 0px 1px 1px rgb(28, 28, 28);
    width: 100%;
    padding: 0 20px;
    color: var(--textTitle-cards); 
    height: 50px;
    font-family: var(--font-titles);
}

