:root{

    /* Colors */
    --bg-body: #191919;
    --textColor-default: white;
    --textTitle-cards: #F8F8F8;

    /* background card */
    --bg-card: #232323;
    
    /* background inputs */
    --bg-inputs: #2F2F2F;
    --color-inputs: #eaeaea;

    --bg-list: #303030;

    /* height inputs */
    --height-ipt: 45px;
    --f-size-ipts: 1rem;
    /* Tamanho dos inputs */
    --height-inputs: 50px;

    /* list */
    --list-hover: #1f2427;

    /* Fonts */
    --font-titles: 'Inter', sans-serif;
    --font-cards: 'Joti One', cursive;
    --font-descriptions: 'Nunito', sans-serif;
    /* Color fonts */
    --font-options: #b7b7b7;

    /* Component select */
    
    --color-i-one: rgb(0, 218, 87);
    --color-i-two: rgb(0, 218, 87);

    /* Background-color button submit */

    --bg-btnsubmit: #7E42FF;
    --height-btn: 50px;
    --border-radius: 5px;
    --btn-hover: #7247cf;

    /* Custom scroll */
    --bg-scroll-nav: rgb(43, 43, 43);
    --scroll-thumb: rgb(63, 63, 63);
}
