:root{

    /* Colors */
    --bg-body: #161616;
    --textColor-default: white;
    --textTitle-cards: #F8F8F8;

    /* background card */
    --bg-card: #1d1d1d;
    
    /* background inputs */
    --bg-inputs: #2F2F2F;
    --color-inputs: #eaeaea;

    --bg-list: #303030;

    /* height inputs */
    --height-ipt: 45px;
    --f-size-ipts: 1rem;

    /* list */
    --list-hover: #1f2427;

    /* Fonts */
    --font-titles: 'Inter', sans-serif;
    --font-cards: 'Joti One', cursive;
    --font-descriptions: 'Nunito', sans-serif;
    /* Color fonts */
    --font-options: #b7b7b7;

    /* Component select */
    
    --color-i-one: rgb(0, 218, 87);
    --color-i-two: rgb(0, 218, 87);
}