:root{

    /* Colors */
    --bg-body: #161616;
    --textColor-default: white;
    --textTitle-cards: #F8F8F8;

    /* background card */
    --bg-card: #1d1d1d;

    /* Fonts */
    --font-titles: 'Inter', sans-serif;
    --font-cards: 'Joti One', cursive;
    --font-descriptions: 'Nunito', sans-serif;
}