.cp-1-home{
    width: 100vw;
    margin-top: 47px;
}

.content-cp-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.card-cp-1{
    background-color: #1A1D21;
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    cursor: pointer;
    animation: animateCard;
    animation-duration: 2s;
    position: relative;
}


@keyframes animateCard {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        background-color: #1A1D21;
        top: 0;
    }
}

.content-1-cp1{
    background-color: #7e42ff3d;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-1-cp1 i{
    color: #7E42FF;
    font-size: 1.3em;
}

.content-1-cp1.cp2{
    background-color: #00cc5237;
}

.content-1-cp1.cp2 i{
    color: #00CC52;
}

.value-cp-1 span{
    color: aliceblue;
}

.value-cp-1 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}